*{
    box-sizing: border-box;
    min-width: 0;
    border:0;
    margin: 0;
    min-height: 0;
    
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: grid;
    gap: 2rem;
    background-color: #f2f2f2;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    border-radius: 10px;
    padding: 2rem;
    max-width: 30rem;
}
h1{
    color: rgb(62, 62, 201);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}
.enter-amount{
    display: grid;
    gap: 0.5rem;
}
.select-currency{
    display: flex;
    justify-content: space-between;
    
    
}
.from{
    display: grid;
    gap: 0.5rem;
}
.to{
    display: grid;
    gap: 0.5rem;
}
select{
    font-size: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: #f2f2f2;
    padding: 1rem;
    background-color:#6866ce;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}
p{
    font-size: 1.5rem;
    color:rgb(58, 58, 163);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
input{
    font-size: 1.5rem;
    border-radius: 10px;
    border: 2px solid rgb(58, 58, 163);
    font-weight: bold;
    
}
option{
     border-radius: 10px;
     box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}
button{
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #6866ce;
    color: #f2f2f2;
    padding: 0.7rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
button:hover{
    background-color: #380dd1;
}
.final-message{
    text-align: center;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #0a078d;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    padding: 1rem;

}
button:active {
  transform: scale(0.95);
}
@media (max-width: 480px) {
    .select-currency {
        flex-direction: column;
        gap: 1rem;
    }
}

select:hover{
    background-color: #380dd1;
}
select:active {
  transform: scale(0.95);
}
.fa-solid{
    font-size: 2rem;
    
}
.from{
    display: grid;
    justify-items: center;
}
.to{
    display: grid;
    justify-items: center;
}
.error-message{
    color: red;
}